h1,
h2,
h3,
div {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

p {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: x-large;
    font-weight: bold;
}

marquee {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
    display: block;
    margin: auto;
    background-color: yellow;
}

ol {
    font-family: "Courier New", Courier, monospace;
    font-size: x-large;
    text-align: center;
    list-style-position: inside;
    font-weight: bold;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    font-weight: bold;
    font-size: x-large;
}

th {
    background-color: lightgray;
}

img,
audio {
    display: block;
    margin: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline-block;
}